# .browserslistrc

# ==============================
# Targets
# ==============================
chrome >= 113
edge >= 113
firefox >= 113
safari >= 16.4
ios_saf >= 16.4

# ==============================
# Exclusions
# ==============================
not ie <= 11
not op_mini all
